In [264]:
#atom's neighbor_list
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os 
%matplotlib inline
import seaborn as sns

In [265]:
path1='/home/heruhe/Desktop/Ga2o3/cascade/5type/500ev'
natom=81920
os.chdir(path1)
df=pd.read_csv('data.relaxed', skiprows = 17, nrows=natom,sep=" ")

df=df.reset_index()
df.drop(columns=df.columns[-3:], axis=1, inplace=True)
df.columns=['Particle Identifier','Particle Type','x','y','z']
df

       Particle Identifier  Particle Type          x          y          z
0                        1              2   1.767290   1.383442   1.160740
1                    36970              4  48.356507  19.924228  45.546173
2                    36795              4  -0.053458  16.773671  42.650771
3                       31              5   1.856515   2.914791   2.672326
4                       34              3   1.831650   2.896304  -0.055734
...                    ...            ...        ...        ...        ...
81915                40165              2  56.491336  80.262262  47.040787
81916                40164              1  53.475093  81.786198  47.078366
81917                40244              1  77.607283  81.692662  47.035373
81918                40484              1  53.339179  88.015704  47.104247
81919                  202              2  64.734574  98.846834  94.179661

[81920 rows x 5 columns]

In [280]:
cdf=df[(df['x']<44)&(df['x']>40)&(df['y']<44)&(df['y']>40)&(df['z']<44)&(df['z']>40)]
cdf

       Particle Identifier  Particle Type          x          y          z
14834                37913              3  40.439301  41.605318  42.333036
14835                32787              1  43.354100  41.603336  41.254810
14836                32796              4  42.341364  40.101622  41.195751
14877                38202              2  40.413133  43.229747  41.254054
14880                33096              4  42.358362  43.256023  41.078356

In [289]:
#obtain defects atoms' neighbor list, combine the list into defects atoms dataframe
def calculate_neighbor(I_atomsdf,df,d):
    #I_atomsdf is defects atoms dataframe,including position & index& type info
    #df is all atoms dataframe,,including position & index& type info
    neighbors=np.zeros((len(I_atomsdf['Particle Identifier']),11))
    for i in range(len(I_atomsdf['Particle Identifier'])):
        index=I_atomsdf['Particle Identifier'].tolist()[i]
        #obtain interstitial atom's positon
        x=I_atomsdf[I_atomsdf['Particle Identifier']==index]['x'].values
        y=I_atomsdf[I_atomsdf['Particle Identifier']==index]['y'].values
        z=I_atomsdf[I_atomsdf['Particle Identifier']==index]['z'].values

        #regard the interstitial atom as center, choose a cube distrcition, extract all atoms info in the cube  
        cube_df = df[(np.abs(df.x-x)<d)& (np.abs(df.y-y)<d)&(np.abs(df.z-z)<d)]
        #In the cube, calculate each atom's distance with the center interstitial atom
        cube_df.loc[:,'distance']=np.sqrt((cube_df.x-x)**2+(cube_df.y-y)**2+(cube_df.z-z)**2)
        cube_df.sort_values(by=['distance'],inplace=True)
        neighbors[i,0]=I_atomsdf[I_atomsdf['Particle Identifier']==index]['Particle Identifier'].values
        neighbors[i,1]=I_atomsdf[I_atomsdf['Particle Identifier']==index]['Particle Type'].values
        neighbors[i,2]=x
        neighbors[i,3]=y
        neighbors[i,4]=z
        cube_df=cube_df[cube_df['distance']<3]
        #extract 6 nearest atoms' particle type info to obtain neighbor list
        for j in range(5,11):
            print(j)
            print(cube_df['Particle Type'][j-4])
            neighbors[i,j]=cube_df['Particle Type'][j-4]
    neighbordf=pd.DataFrame(neighbors)
    neighbordf.columns=['Particle Identifier','Particle Type','x','y','z','n1','n2','n3','n4','n5','n6']
    return  neighbordf

In [290]:
ndf=calculate_neighbor(cdf,df,2)
ndf

5

KeyError: 1

In [147]:
print('Ga1')

ndf[ndf.iloc[:,1]==1].iloc[:,2:6]

Ga1

     n1   n2   n3   n4
9   4.0  3.0  4.0  5.0
13  4.0  4.0  5.0  3.0
16  3.0  4.0  4.0  5.0
25  4.0  5.0  3.0  4.0
28  4.0  3.0  4.0  5.0
32  3.0  4.0  4.0  5.0
35  4.0  5.0  4.0  3.0
39  3.0  5.0  4.0  4.0
42  3.0  4.0  4.0  5.0
46  5.0  4.0  4.0  3.0
51  4.0  5.0  3.0  4.0
52  4.0  3.0  5.0  4.0

In [148]:
print('Ga2')

ndf[ndf.iloc[:,1]==2].iloc[:,2:8]

Ga2

     n1   n2   n3   n4   n5   n6
2   3.0  4.0  3.0  5.0  5.0  5.0
6   3.0  4.0  3.0  5.0  5.0  5.0
10  4.0  5.0  3.0  3.0  5.0  5.0
11  5.0  3.0  5.0  4.0  3.0  5.0
20  5.0  3.0  4.0  3.0  5.0  5.0
23  5.0  3.0  3.0  4.0  5.0  5.0
33  3.0  4.0  3.0  5.0  5.0  5.0
40  5.0  3.0  4.0  5.0  5.0  3.0
47  4.0  3.0  5.0  3.0  5.0  5.0
48  4.0  3.0  3.0  5.0  5.0  5.0
49  4.0  3.0  5.0  3.0  5.0  5.0

In [149]:
print('O1')

ndf[ndf.iloc[:,1]==3].iloc[:,2:5]

O1

     n1   n2   n3
0   1.0  2.0  2.0
4   1.0  2.0  2.0
18  1.0  2.0  2.0
27  1.0  2.0  2.0
30  1.0  2.0  2.0
31  1.0  2.0  2.0
34  1.0  2.0  2.0
37  1.0  2.0  2.0
38  1.0  2.0  2.0
41  1.0  2.0  2.0
44  1.0  2.0  2.0
45  1.0  2.0  2.0

In [150]:
print('O2')

ndf[ndf.iloc[:,1]==2].iloc[:,2:5]

O2

     n1   n2   n3
2   3.0  4.0  3.0
6   3.0  4.0  3.0
10  4.0  5.0  3.0
11  5.0  3.0  5.0
20  5.0  3.0  4.0
23  5.0  3.0  3.0
33  3.0  4.0  3.0
40  5.0  3.0  4.0
47  4.0  3.0  5.0
48  4.0  3.0  3.0
49  4.0  3.0  5.0

In [151]:
print('O3')

ndf[ndf.iloc[:,1]==2].iloc[:,2:6]

O3

     n1   n2   n3   n4
2   3.0  4.0  3.0  5.0
6   3.0  4.0  3.0  5.0
10  4.0  5.0  3.0  3.0
11  5.0  3.0  5.0  4.0
20  5.0  3.0  4.0  3.0
23  5.0  3.0  3.0  4.0
33  3.0  4.0  3.0  5.0
40  5.0  3.0  4.0  5.0
47  4.0  3.0  5.0  3.0
48  4.0  3.0  3.0  5.0
49  4.0  3.0  5.0  3.0

In [170]:
path1='/home/heruhe/Desktop/Ga2o3/cascade/5type_overlapping/out'
natom=81920
os.chdir(path1)
df5=pd.read_csv('data.lastframe-5', skiprows =11,header=None, nrows=natom,sep="\s+")


#df5.columns=['Particle Identifier','Particle Type','x','y','z']
df5

       Particle Identifier  Particle Type          x          y          z
0                        1              2   2.439443   0.571030   0.330887
1                        2              2   4.772448  98.060083   1.845691
2                        3              1   1.637539  97.992639   3.331448
3                        4              1   5.550498   0.573265   4.739119
4                        5              2   8.628615  98.139584   4.814667
...                    ...            ...        ...        ...        ...
81915                81916              4  91.706089  94.783805  93.256977
81916                81917              5  93.562922  96.348006  91.660498
81917                81918              5  95.599059  94.892465  90.511352
81918                81919              3  95.608793  94.875770  93.109558
81919                81920              3  93.608206  96.510442  89.121392

[81920 rows x 5 columns]

In [199]:
cdf5=df5[(df5['x']<60)&(df5['x']>10)&(df5['y']<60)&(df5['y']>10)&(df5['z']<60)&(df5['z']>10)]
cdf5

       Particle Identifier  Particle Type          x          y          z
5806                  5807              1  19.937310  12.816738  10.691033
5810                  5811              5  14.798851  11.336631  10.628131
5815                  5816              4  18.795431  11.337281  10.651126
5818                  5819              3  22.798233  11.241912  10.623744
5826                  5827              1  19.836494  15.941344  10.694406
...                    ...            ...        ...        ...        ...
54268                54269              4  55.189461  57.815142  58.047827
54271                54272              5  53.133036  59.377371  59.628858
54273                54274              3  51.233861  57.808791  58.084847
54276                54277              5  57.271984  59.298571  59.293507
54277                54278              5  59.143488  57.753019  58.040493

[11297 rows x 5 columns]

In [200]:
ndf5=calculate_neighbor(cdf5,df5,3)
ndf5

/usr/lib/python3/dist-packages/pandas/core/indexing.py:1667: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value
/usr/lib/python3/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

       Particle Identifier  Particle Type   n1   n2   n3   n4   n5   n6
0                   5807.0            1.0  3.0  5.0  4.0  4.0  1.0  3.0
1                   5811.0            5.0  1.0  2.0  2.0  2.0  5.0  5.0
2                   5816.0            4.0  1.0  1.0  2.0  4.0  3.0  5.0
3                   5819.0            3.0  1.0  2.0  2.0  5.0  4.0  5.0
4                   5827.0            1.0  4.0  4.0  5.0  3.0  3.0  2.0
...                    ...            ...  ...  ...  ...  ...  ...  ...
11292              54269.0            4.0  1.0  1.0  2.0  5.0  4.0  3.0
11293              54272.0            5.0  1.0  2.0  2.0  2.0  3.0  5.0
11294              54274.0            3.0  1.0  2.0  2.0  5.0  5.0  5.0
11295              54277.0            5.0  1.0  2.0  2.0  2.0  5.0  3.0
11296              54278.0            5.0  1.0  2.0  2.0  2.0  3.0  5.0

[11297 rows x 8 columns]

In [255]:
ndf=pd.read_csv('ndf5.csv')
ndf

,Unnamed: 0,Particle Identifier,Particle Type,x,y,z,n1,n2,n3,n4,n5,n6
0,0,1.0,2.0,2.439443,0.571030,0.330887,4.0,5.0,5.0,2.0,2.0,4.0
1,1,2.0,2.0,4.772448,98.060083,1.845691,4.0,3.0,5.0,5.0,2.0,2.0
2,2,3.0,1.0,1.637539,97.992639,3.331448,4.0,3.0,5.0,1.0,2.0,3.0
3,3,4.0,1.0,5.550498,0.573265,4.739119,4.0,3.0,5.0,1.0,2.0,3.0
4,4,5.0,2.0,8.628615,98.139584,4.814667,5.0,4.0,5.0,3.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...
81915,81915,81916.0,4.0,91.706089,94.783805,93.256977,1.0,1.0,2.0,5.0,5.0,5.0
81916,81916,81917.0,5.0,93.562922,96.348006,91.660498,1.0,2.0,2.0,2.0,3.0,5.0
81917,81917,81918.0,5.0,95.599059,94.892465,90.511352,2.0,1.0,2.0,2.0,3.0,5.0
81918,81918,81919.0,3.0,95.608793,94.875770,93.109558,2.0,2.0,5.0,5.0,5.0,3.0
81919,81919,81920.0,3.0,93.608206,96.510442,89.121392,2.0,2.0,1.0,5.0,5.0,4.0

In [256]:
ndf5=ndf[(ndf['x']<95)&(ndf['x']>1)&(ndf['y']<96)&(ndf5['y']>1)&(ndf['z']<92)&(ndf['z']>1)]
ndf5

,Unnamed: 0,Particle Identifier,Particle Type,x,y,z,n1,n2,n3,n4,n5,n6
2429,2429,2430.0,4.0,49.138421,46.864667,6.316337,1.0,1.0,2.0,3.0,4.0,5.0
2470,2470,2471.0,5.0,55.396513,48.329450,87.446324,2.0,1.0,1.0,4.0,3.0,5.0
2722,2722,2723.0,1.0,48.202530,48.380827,6.308647,4.0,4.0,5.0,3.0,1.0,1.0
4594,4594,4595.0,4.0,38.856149,91.913167,8.107850,1.0,2.0,2.0,5.0,4.0,4.0
4884,4884,4885.0,2.0,29.284577,91.757564,7.222578,5.0,4.0,5.0,5.0,2.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...
81857,81857,81858.0,5.0,83.390516,91.735871,87.560729,1.0,2.0,2.0,2.0,3.0,5.0
81881,81881,81882.0,2.0,89.559292,91.821257,87.517711,3.0,3.0,4.0,5.0,5.0,5.0
81882,81882,81883.0,1.0,86.530607,91.787673,88.953913,4.0,4.0,5.0,3.0,1.0,3.0
81889,81889,81890.0,4.0,85.657880,93.326735,88.906428,1.0,1.0,2.0,3.0,5.0,3.0
81892,81892,81893.0,3.0,89.542237,93.321268,88.789594,1.0,2.0,2.0,5.0,4.0,5.0

In [257]:
n1df=ndf5[ndf5['Particle Type']==1]
n1df['nSum'] = n1df.apply(lambda row: row['n1'] + row['n2']+row['n3'] + row['n4'], axis=1)
n1defects=n1df[n1df['nSum']!=16]

/tmp/ipykernel_981388/129573288.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  n1df['nSum'] = n1df.apply(lambda row: row['n1'] + row['n2']+row['n3'] + row['n4'], axis=1)

In [258]:
len(n1defects)

86

In [249]:
n1defects

,Unnamed: 0,Particle Identifier,Particle Type,x,y,z,n1,n2,n3,n4,n5,n6,nSum
7527,7527,7528.0,1.0,58.595274,42.475309,9.191007,3.0,5.0,3.0,3.0,2.0,2.0,14.0
7547,7547,7548.0,1.0,60.231235,45.534992,9.298783,4.0,3.0,5.0,1.0,4.0,3.0,13.0
7582,7582,7583.0,1.0,62.415358,45.334517,6.323203,4.0,3.0,4.0,4.0,1.0,1.0,15.0
7806,7806,7807.0,1.0,43.138340,50.144397,9.955323,4.0,4.0,5.0,5.0,4.0,4.0,18.0
7807,7807,7808.0,1.0,47.571745,49.923434,8.873409,5.0,5.0,5.0,3.0,4.0,5.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
79082,79082,79083.0,1.0,15.713239,42.336570,89.119468,3.0,3.0,3.0,5.0,2.0,1.0,14.0
79102,79102,79103.0,1.0,13.925601,45.237747,88.927332,4.0,3.0,5.0,2.0,3.0,2.0,14.0
79402,79402,79403.0,1.0,14.036131,48.529384,88.972988,4.0,5.0,3.0,1.0,3.0,2.0,13.0
79647,79647,79648.0,1.0,10.743850,46.768584,88.954488,5.0,4.0,3.0,3.0,5.0,2.0,15.0
79842,79842,79843.0,1.0,54.329983,49.910181,87.378061,4.0,4.0,5.0,5.0,3.0,2.0,18.0

In [211]:
n2df=ndf5[ndf5['Particle Type']==2]
n2df['nSum'] = n2df.apply(lambda row: row['n1'] + row['n2']+row['n3'] + row['n4']+row['n5'] + row['n6'], axis=1)
n2defects=n2df[n2df['nSum']!=25]
n2defects.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1655 entries, 0 to 81905
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           1655 non-null   int64
 1   Particle Identifier  1655 non-null   float64
 2   Particle Type        1655 non-null   float64
 3   x                    1655 non-null   float64
 4   y                    1655 non-null   float64
 5   z                    1655 non-null   float64
 6   n1                   1655 non-null   float64
 7   n2                   1655 non-null   float64
 8   n3                   1655 non-null   float64
 9   n4                   1655 non-null   float64
 10  n5                   1655 non-null   float64
 11  n6                   1655 non-null   float64
 12  nSum                 1655 non-null   float64
dtypes: float64(12), int64(1)
memory usage: 181.0 KB

/tmp/ipykernel_981388/108262376.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  n2df['nSum'] = n2df.apply(lambda row: row['n1'] + row['n2']+row['n3'] + row['n4']+row['n5'] + row['n6'], axis=1)

In [212]:
n3df=ndf5[ndf5['Particle Type']==3]
n3df['nSum'] = n3df.apply(lambda row: row['n1'] + row['n2']+row['n3'], axis=1)
n3defects=n3df[n3df['nSum']!=5]
n3defects.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1102 entries, 12 to 81918
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           1102 non-null   int64
 1   Particle Identifier  1102 non-null   float64
 2   Particle Type        1102 non-null   float64
 3   x                    1102 non-null   float64
 4   y                    1102 non-null   float64
 5   z                    1102 non-null   float64
 6   n1                   1102 non-null   float64
 7   n2                   1102 non-null   float64
 8   n3                   1102 non-null   float64
 9   n4                   1102 non-null   float64
 10  n5                   1102 non-null   float64
 11  n6                   1102 non-null   float64
 12  nSum                 1102 non-null   float64
dtypes: float64(12), int64(1)
memory usage: 120.5 KB

/tmp/ipykernel_981388/717730659.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  n3df['nSum'] = n3df.apply(lambda row: row['n1'] + row['n2']+row['n3'], axis=1)

In [213]:
n4df=ndf5[ndf5['Particle Type']==4]
n4df['nSum'] = n4df.apply(lambda row: row['n1'] + row['n2']+row['n3'], axis=1)
n4defects=n4df[n4df['nSum']!=4]
n4defects.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1585 entries, 8 to 81914
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           1585 non-null   int64
 1   Particle Identifier  1585 non-null   float64
 2   Particle Type        1585 non-null   float64
 3   x                    1585 non-null   float64
 4   y                    1585 non-null   float64
 5   z                    1585 non-null   float64
 6   n1                   1585 non-null   float64
 7   n2                   1585 non-null   float64
 8   n3                   1585 non-null   float64
 9   n4                   1585 non-null   float64
 10  n5                   1585 non-null   float64
 11  n6                   1585 non-null   float64
 12  nSum                 1585 non-null   float64
dtypes: float64(12), int64(1)
memory usage: 173.4 KB

/tmp/ipykernel_981388/2937986825.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  n4df['nSum'] = n4df.apply(lambda row: row['n1'] + row['n2']+row['n3'], axis=1)

In [214]:
n5df=ndf5[ndf5['Particle Type']==5]
n5df['nSum'] = n5df.apply(lambda row: row['n1'] + row['n2']+row['n3'], axis=1)
n5defects=n5df[n5df['nSum']!=7]
n5defects.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16345 entries, 10 to 81917
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           16345 non-null  int64
 1   Particle Identifier  16345 non-null  float64
 2   Particle Type        16345 non-null  float64
 3   x                    16345 non-null  float64
 4   y                    16345 non-null  float64
 5   z                    16345 non-null  float64
 6   n1                   16345 non-null  float64
 7   n2                   16345 non-null  float64
 8   n3                   16345 non-null  float64
 9   n4                   16345 non-null  float64
 10  n5                   16345 non-null  float64
 11  n6                   16345 non-null  float64
 12  nSum                 16345 non-null  float64
dtypes: float64(12), int64(1)
memory usage: 1.7 MB

/tmp/ipykernel_981388/2584722.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  n5df['nSum'] = n5df.apply(lambda row: row['n1'] + row['n2']+row['n3'], axis=1)

In [215]:
n5df

,Unnamed: 0,Particle Identifier,Particle Type,x,y,z,n1,n2,n3,n4,n5,n6,nSum
10,10,11.0,5.0,2.737082,97.953475,1.743501,1.0,2.0,2.0,5.0,3.0,4.0,5.0
11,11,12.0,5.0,4.463921,0.521799,0.474985,2.0,2.0,5.0,3.0,4.0,5.0,9.0
16,16,17.0,5.0,8.757281,0.594445,0.316326,1.0,2.0,3.0,4.0,5.0,3.0,6.0
17,17,18.0,5.0,10.609064,97.987570,93.418541,1.0,2.0,3.0,4.0,5.0,3.0,6.0
30,30,31.0,5.0,2.649787,2.004996,1.714891,1.0,2.0,2.0,2.0,5.0,5.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
81897,81897,81898.0,5.0,95.632932,91.823657,90.403983,1.0,2.0,2.0,2.0,3.0,5.0,5.0
81910,81910,81911.0,5.0,87.646429,94.846777,93.217682,2.0,2.0,2.0,3.0,5.0,5.0,6.0
81911,81911,81912.0,5.0,89.544768,96.417721,91.950465,1.0,2.0,2.0,2.0,5.0,5.0,5.0
81916,81916,81917.0,5.0,93.562922,96.348006,91.660498,1.0,2.0,2.0,2.0,3.0,5.0,5.0
81917,81917,81918.0,5.0,95.599059,94.892465,90.511352,2.0,1.0,2.0,2.0,3.0,5.0,5.0